[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "KamiToolKit"]
	path = KamiToolKit
	url = https://github.com/MidoriKami/KamiToolKit.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
[submodule "OtterGui/OtterGuiInternal"]
	path = OtterGui/OtterGuiInternal
	url = https://github.com/Ottermandias/OtterGuiInternal.git